.idea/
**/.classpath
**/.project
/.metadata/
/RemoteSystemsTempFiles/
/Servers/
/build/

.project
.classpath
.settings
*/target/**
*/bin/**
*/.metadata/**
*/RemoteSystemsTempFiles/**
*/Servers/**
*/build/**
/.DS_Store
n001_di/src/step1/._.DS_Store
n001_di/src/step1/.DS_Store
**/._.DS_Store
**/.DS_Store
